/* For Default bootstrap, keep this active */
// @import "./bootstrap.scss";

/* For the themes that come with this scaffold */
@import "themes/hockeyclub";
// @import "themes/reedo";

/* For Bootswatch themes, comment out the bootstrap import above, and uncomment the specific theme you want */
// @import "bootswatch/cosmo";
// @import "bootswatch/flatly";
// @import "bootswatch/journal";
// @import "bootswatch/litera";
// @import "bootswatch/lumen";
// @import "bootswatch/sandstone";
// @import "bootswatch/spacelab";
// @import "bootswatch/yeti";

@import "./app.scss";

#layout-navbar {
  --bs-nav-link-font-size: 0.9rem;
  --bs-nav-link-font-weigh: 300;
}

.push-up {
  margin-top: -0.5rem;
}

.headcrumb a {
  text-decoration: none;
}

.spaced-elements {
  & > * {
    margin: 0.25rem;
  }
}
